# Gmail Configuration
GMAIL_USER=passagensandresasaki@gmail.com
GMAIL_APP_PASSWORD=aiyc vlac luln phze

# Google Cloud Service Account (JSON stringificado)
GOOGLE_SERVICE_ACCOUNT_JSON={}

# Calendar
CALENDAR_ID=passagensandresasaki@gmail.com

# Cron Schedule (padrão: a cada 30 minutos)
CRON_SCHEDULE=*/30 * * * *

# Email Domain to Match
EMAIL_FROM_DOMAIN=confirmation@sabre.com
